<footer class="footer text-muted bg-light">
  <div class="container">
    <span>© <%= Date.today.year %>Segurança e Auditoria</span>
    <ul class="list-inline mb-0 float-right">
  
    </ul>
  </div>
</footer>
